.caixa{
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}

@media (max-width: 575px){
	.display-4{
		font-size: 3.0rem;
  		font-weight: 300;
  		line-height: 1.2;
	}
	.input-group-lg > .form-control:not(textarea),
	.input-group-lg > .custom-select {
	  height: calc(1.5em + 0.5rem + 2px);
	}

	.input-group-lg > .form-control,
	.input-group-lg > .custom-select,
	.input-group-lg > .input-group-prepend > .input-group-text,
	.input-group-lg > .input-group-append > .input-group-text,
	.input-group-lg > .input-group-prepend > .btn,
	.input-group-lg > .input-group-append > .btn {
	  padding: 0.25rem 0.5rem;
	  font-size: 0.875rem;
	  line-height: 1.5;
	  border-radius: 0.2rem;
	}
}
